# Use .gitignore as a baseline
.git
.gitignore

# Go module/cache
vendor/
**/*.test
**/*.out

# Binaries & build outputs
bin/
build/
dist/
out/
tmp/
*.exe
*.dll
*.so
*.dylib

# Examples local data
examples/**/postgres-data/
examples/**/mongo-data/
examples/**/bin/
examples/**/out/
examples/**/tmp/

# Editors/OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Docker
docker-compose.override.yml
.env
.env.*
